<link rel="stylesheet" href="/css/add-org-name/sxn-add-org-name.min.css" />

<div id="add-org-name">

    <div class="add-org-name" class="uk-child-width-1-2@m" uk-grid>
        <div>

                <input class="uk-input uk-form-large uk-form-blank uk-form-width-medium" type="text" name="name" placeholder="Add Organization Name">

        </div>
    </div>

</div>
