<link rel="stylesheet" href="/css/admins/sxn-admins.min.css" />

<div id="admins">

    <h2>Admin</h2>

    <div class="uk-card uk-card-default uk-card-body">

        <div class="admins" uk-grid>
          {{#if group.admin}}
            <div class="col uk-width-1-2@m">
                <div class="member" uk-grid>
                    <div class="uk-width-auto@m">
                        <div class="img-wrap"></div>
                    </div>
                    <div class="uk-width-expand@m">
                        <p class="name">{{group.admin.firstName}} {{group.admin.lastName}}</p>
                    </div>
                </div>
            </div>
          {{/if}}
        </div>

    </div>

</div>
