<link rel="stylesheet" href="/css/bio/sxn-bio.min.css" />

<div id="bio">

    <h4>Bio</h4>

    <div class="uk-card uk-card-default uk-card-body">

        <p>{{#if user.description}}
          {{user.description}}
        {{else}}
      N/A
    {{/if}}</p>

    </div>

</div>
