<link rel="stylesheet" href="/css/board-notifications/sxn-board-notifications.v7.min.css" />

<div id="board-notifications">
    <div class="uk-card uk-card-default uk-card-body">
        <div class="new-post-toggle" hidden>
            <div class="create-wrap">
                <h4 class="inner">New Post</h4>
                <div class="divider"></div>
                <div class="create-grid" uk-grid>
                    <div class="poll-wrap uk-width-3-5@m">
                        <div class="form-wrap">
                            <form id="postform" method="post" enctype="multipart/form-data" action="/boards/{{boardId}}/post">
                                <input class="uk-input uk-form-large uk-form-blank uk-form-width-large" type="text" name="title" placeholder="Add a title"></input>
                                <textarea class="uk-textarea uk-form-blank uk-form-width-large" type="text" name="text" placeholder="Add a description"></textarea>
                                <input type="file" id="files" name="images" multiple accept="image/*" style="display: none">
                                <input type="text" id="deleteFiles" name="deleteFiles" style="display: none">
                                <a class="uk-button uk-button-primary" type="button" onclick="document.getElementById('postform').submit();">Create</a>
                                <a class="uk-button uk-button-cancel" type="button">Back</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="new-post-toggle add-comment" uk-grid>
            <div class="uk-width-expand@m">
                <form>
                    <div>
                        <a uk-toggle="target: .new-post-toggle">
                            <input class="uk-input" type="text" placeholder="+ Create a new post">
                        </a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
