<link rel="stylesheet" href="/css/boards-following/sxn-boards-following.min.css" />
{{#if user.subscribedBoards}}
<div id="boards-following">

    <h4>Subscribed Boards</h4>

    <div class="uk-card uk-card-default uk-card-body">

        <div uk-grid>
          {{#each user.subscribedBoards}}
            <div class="uk-width-1-4@m" style="margin-top: 0px">
                <p>
                    <b>{{name}}</b>
                </p>
            </div>
          {{/each}}

        </div>

    </div>

</div>
{{/if}}
