<div uk-drop="mode: click">
    <div class="uk-card uk-card-body uk-card-default">
        <ul>
            <li>
                <a href="#" uk-toggle="target: .reply-{{@index}}">
                    Add Comment
                </a>
            </li>
            <li>
              <a href="#" onclick="document.getElementById('delete-comment-{{@index}}').submit();">
                Delete Comment
              </a>
            </li>
        </ul>
    </div>
</div>
