<link rel="stylesheet" href="/css/description/sxn-description.min.css" />

<div id="description">

    <h4>Description</h4>

    <div class="uk-card uk-card-default uk-card-body">

        <p>{{#if group.description}}{{group.description}}{{else}}N/A{{/if}}</p>

    </div>

</div>
