<link rel="stylesheet" href="/css/edit-bio/sxn-edit-bio.min.css" />

<div id="edit-bio">

    <h4><a href=""><span class="uk-icon" uk-icon="icon: pencil"></span></a>Bio</h4>

    <div class="uk-card uk-card-default uk-card-body">
      <textarea class="uk-textarea uk-form-blank uk-form-width-large" type="text" name="description" placeholder="Add a bio" style="overflow: hidden; width:100%; height:100%">{{description}}</textarea>

    </div>

</div>
</form>
