<link rel="stylesheet" href="/css/add-org-description/sxn-add-org-description.v2.min.css" />

<div id="add-org-description">

    <div class="uk-card uk-card-default uk-card-body">


            <textarea name="description" type="text" class="uk-textarea" style="overflow: hidden; resize: vertical">{{description}}</textarea>


    </div>

</div>
