<link rel="stylesheet" href="/css/edit-board-header/sxn-edit-board-header.min.css" />

<div id="edit-board-header">

    <div class="edit-board-header top">
        <h2><a href="javascript:history.back()"><span uk-icon="icon: chevron-left"></span></a>Edit Board</h2>
    </div>

</div>
