<link rel="stylesheet" href="/css/events-overview-header/sxn-events-overview-header.min.css" />

<div id="events-overview-header">

    <div class="events-overview-header" class="uk-child-width-1-2@m" uk-grid>
        <div>
            <h2>Events</h2>
        </div>

    </div>

</div>
<a href="/events/calendar" class="uk-float-right green" style="position: relative; margin: 0 30px 0 0; bottom: 38px"><span class="uk-icon" uk-icon="icon: calendar"></span> View as Calendar</a><br>
<a href="/events/past" class="uk-float-right green" style="position: relative; margin: 0 30px 0 0; bottom: 38px"><span class="uk-icon" uk-icon="icon: future"></span> Past Events</a>
