<link rel="stylesheet" href="/css/event-information/sxn-event-information.v2.min.css" />

<div id="event-information">

    <h4>Event Information</h4>

    <div class="uk-card uk-card-default uk-card-body">

        <p><b>{{event.title}}</b></p>
        <p>{{event.description}}</p>
    </div>

</div>
