<link rel="stylesheet" href="/css/events-overview-board-notifications/sxn-events-overview-board-notifications.v4.min.css" />

<div id="events-overview-board-notifications">
    <div class="uk-card uk-card-default uk-card-body">
        <div class="create-event-toggle create-wrap" hidden>
            <div class="create-grid" uk-grid>
                <div class="uk-width-3-5@m">
                  <div class="form-wrap">
                      <form id="postform" action="/event-invite" method="post">
                          <input class="uk-input uk-form-large uk-form-blank uk-form-width-large" type="text" name="title" placeholder="Add a title" required></input>
                          <textarea class="uk-textarea uk-form-blank uk-form-width-large" type="text" name="description" placeholder="Add a description" style="overflow: hidden; resize: vertical; height: 175px" required></textarea>
                      <a class="uk-button uk-button-primary" type="button" onclick="document.getElementById('submitbutton').click();">Next</a>
                      <input type="submit" style="display: none" id="submitbutton"></input>
                      <a class="uk-button uk-button-cancel" uk-toggle="target: .create-event-toggle" type="button">Back</a>
                  </div>
                </div>
                <div class="uk-width-2-5@m">
                    <div class="list-wrap">
                        <ul>
                            <li>
                                <a>
                                    <span uk-icon="icon: calendar"></span><span>Set date </span><input type="date" name="date" style="width: 130px" required>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span uk-icon="icon: clock"></span><span>Start time </span><input type="time" name="startTime" style="width: 100px" required>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span uk-icon="icon: clock"></span><span>End time </span><input type="time" name="endTime" style="width: 100px" required>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span uk-icon="icon: bell"></span><span>Set location </span><input type="text" name="location" style="width:100px" required>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span uk-icon="icon: commenting"></span><span>Select Board</span>
                                </a>
                                <select name="board">
                                  {{#each boards}}
                                    <option value="{{_id}}">{{name}}{{#if active}}{{else}} (Deactivated){{/if}}</option>
                                  {{/each}}
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</form>
        <div class="create-event-toggle">
            <a uk-toggle="target: .create-event-toggle" class="green new-post"><span uk-icon="icon: plus"></span><span>Create a new event</span></a>
        </div>

    </div>
</div>
