<link rel="stylesheet" href="/css/events-overview-header/sxn-events-overview-header.min.css" />

<div id="events-overview-header">

    <div class="events-overview-header" class="uk-child-width-1-2@m" uk-grid>
        <div>
            <h2>Invite Members</h2>
        </div>

    </div>

</div>
