<link rel="stylesheet" href="css/greeting/sxn-greeting.min.css" />

<div id="greeting" class="uk-child-width-expand@s" uk-grid>
    <div>
        <h2>Hi {{user.firstName}},</h2>
    </div>
    <div>
        <span class="uk-float-right">{{date}}</span><br />
        <a class="uk-float-right uk-link" href="/events/calendar">View Calendar</a>
    </div>
</div>
