<div id="reactivate" uk-modal>
    <div class="uk-modal-dialog uk-modal-body ux-text-center">
        <h2 class="uk-modal-title" id="reactivate-info"></h2>
        <p class="uk-text-center">
            <button class="uk-button uk-button-primary" type="button" id="reactivate-button">Reactivate</button>
            <button class="uk-button uk-button-cancel uk-modal-close" type="button">Cancel</button>
        </p>
    </div>
</div>
