<script>
function reset() {
  var xhttp = new XMLHttpRequest();
  xhttp.open("POST", "/forgot", true);
  var email = document.getElementById('email').value;
  xhttp.setRequestHeader('Content-Type', 'application/json');
  xhttp.send(JSON.stringify({username: email}));
  document.getElementById('info').innerHTML = "A email has been sent to " + email + ". Click Next to finish resetting your password.";
}

</script>
<section id="login">
    <div class="login-header">
        <img class="uk-float-left" src="img/loop_logo_white.png" alt="Loop" />
        <ul class="uk-list uk-link-text">
            <li><a href="#">Help</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>

    <h1>Reset Password</h1>
    <p>To reset your password, confirm your email below:</p>

    <div class="inputs">
        <form>
            <div class="uk-margin">
                <input class="uk-input uk-form-width-medium" type="text" placeholder="Email" id="email">
            </div>
            <a href="#reset" onclick="reset()" class="uk-button uk-button-default" uk-toggle>
                Send Email
            </a>
            <a href="/" class="uk-button uk-button-secondary">
                Cancel
            </a>
        </form>
    </div>

</div>
{{>reset-modal}}
