
<style>
#sidenav::-webkit-scrollbar {
    display: none;
}
</style>
<div class="sidenav-wrap">
    <div id="sidenav" style="overflow:scroll; resize:none">
        <div class="img-wrap">
            <img class="uk-float-left" src="/img/loop_logo_white.png" alt="Loop" />
        </div>
        <div class="avi-wrap">
            <img src='/img/user.png'/>
            <div class="name-link">
              <div id="name">
              </div>
                <script>
                var name_info = $('#name');
                $.getJSON('/userinfo', function(data) {
                  var firstName = "<span>" + data[0].firstName + "</span><br />";
                  var lastName = "<span>" + data[0].lastName + "</span><br />";
                  name_info.append(firstName);
                  name_info.append(lastName);
                });
                </script>
                <span class="name-below">Haverford College
                    <a><span class="white" uk-icon="icon: chevron-down"></span></a>
                    <div uk-drop="mode: click">
                        <div class="uk-card uk-card-body uk-card-default">
                            <ul>
                                <li id="profile">
                                  <script>
                                  //var profile_info = $('#profile');
                                  $.getJSON('/userinfo', function(data) {
                                    var link = "<a href='/users/" + data[0]._id + "'><span uk-icon='icon: user'></span>Profile</a>";
                                    document.getElementById('profile').innerHTML = link;
                                    //profile_info.append(link);
                                  });
                                  </script>
                                </li>
                                <li>
                                    <a href="/settings">
                                        <span uk-icon="icon: cog"></span>Settings
                                    </a>
                                </li>
                                <li>
                                    <a href="/logout">
                                        <span uk-icon="icon: sign-out"></span>Logout / Sign in as..
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </span>
            </div>
            <div class="uk-clearfix"></div>
        </div>
        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
            <li class="uk-active"><a href="/home"><span uk-icon="icon: home"></span>Home</a></li>
            <li><a href="/feed"><span uk-icon="icon: rss"></span>Feed</a></li>
            <li><a href="/events"><span uk-icon="icon: calendar"></span>Events</a></li>
            <li><a href="/organizations"><span uk-icon="icon: users"></span>Organizations</a></li>
            <li class="uk-parent">
                <a href="#"><span uk-icon="icon: album"></span>Boards</a>
                <ul class="uk-nav-sub" id="side-boards">
                    <script>
                    var side_boards = $('#side-boards');
                    $.getJSON('/boardinfo', function(data) {
                      for(var i=0; i<data.info.length; i++) {
                        var added = false;
                        if(data.info[i].active==false) {
                          var board = "<li><a href=/boards/" + data.info[i]._id + "><span uk-icon='icon: album'></span>" + data.info[i].name + " (Deactivated)" + "</a></li>";
                          side_boards.append(board);
                          added=true;
                        }
                        else if(data.info[i].unsubscribable==true) {
                          var board = "<li><a href=/boards/" + data.info[i]._id + "><span uk-icon='icon: album'></span>" + data.info[i].name + " ✔" + "</a></li>";
                          side_boards.prepend(board);
                          added=true;
                        }
                        else {
                          for(var j=0; j<data.subscribedBoards.length; j++) {
                            if(data.info[i]._id==data.subscribedBoards[j]) {
                              var board = "<li><a href=/boards/" + data.info[i]._id + "><span uk-icon='icon: album'></span>" + data.info[i].name + " ✔" + "</a></li>";
                              side_boards.prepend(board);
                              added=true;
                            }
                          }
                        }
                        if(added == false) {
                          var board = "<li><a href=/boards/" + data.info[i]._id + "><span uk-icon='icon: album'></span>" + data.info[i].name + "</a></li>";
                          side_boards.append(board);
                        }
                      }
                    });
                    </script>
                </ul>
            </li>
        </ul>
        <div class="uk-position-bottom-center">
            <div class="create-list" hidden>
                <ul>
                    <li>
                        <a href="/posts/create">
                            Post
                        </a>
                    </li>
                    <li>
                        <a href="/events/create">
                            Event
                        </a>
                    </li>
                    <li>
                        <a href="/create-a-new-board">
                            Board
                        </a>
                    </li>
                    <li>
                        <a href="/create-a-new-org">
                            Organization
                        </a>
                    </li>
                </ul>
            </div>
            <a class="tog create" uk-toggle="target: .create-list, .tog; animation: uk-animation-fade"><span uk-icon="icon: plus"></span>Create New</a>
            <a class="tog create" uk-toggle="target: .create-list, .tog; animation: uk-animation-fade" hidden><span uk-icon="icon: close"></span>Cancel</a>
        </div>
    </div>
</div>
