<link rel="stylesheet" href="/css/titles/sxn-titles.min.css" />
{{#if user.joinedGroups}}
<div id="titles">

    <h4>Titles/Positions</h4>

    <div class="uk-card uk-card-default uk-card-body">

        <div uk-grid>
          {{#each user.joinedGroups}}
          {{#if archive}}
          {{else}}
            <div class="uk-width-1-3@m" style="margin-top:0px">
                <p>
                    <b>
                    {{#each ../user.adminGroups}}
                    {{#compare ../name name operator="=="}}
                    Admin
                    {{/compare}}
                    {{/each}}
                    Member
                    </b><br/>
                    <span><a href="/groups/{{_id}}" style="color: black">{{name}}</a></span>
                </p>
            </div>
            {{/if}}
            {{/each}}

        </div>

    </div>

</div>
{{/if}}
