<script>
var notifications = $('#notifications')
$.getJSON('/notifications', function(data) {
  document.getElementById('notifications-number').innerHTML = data.length;
  var createdPostCount=0;
  var followingPostCount=0;
  var createdEventCount=0;
  var attendingEventCount=0;
  var addedOrganizationCount=0;
  for(var i=0; i<data.length; i++) {
    if(data.notifications[i].type=="Comment on Created Post") {
      createdPostCount++;
    }
    else if(data.notifications[i].type=="Comment on Following Post") {
      followingPostCount++;
    }
    else if(data.notifications[i].type=="Comment on Created Event") {
      createdEventCount++;
    }
    else if(data.notifications[i].type=="Comment on Attending Event") {
      attendingEventCount++;
    }
    else if(data.notifications[i].type=="Added to Organization") {
      addedOrganizationCount++;
    }
  }
  if(createdPostCount!=0) {
    var notification="<li><a href='/all-notifications'><span uk-icon='icon: comment'></span>" + "<b>" + createdPostCount + "</b> people commented on a post you created</a></li>";
    notifications.append(notification);
  }
  if(followingPostCount!=0) {
    var notification="<li><a href='/all-notifications'><span uk-icon='icon: comment'></span>" + "<b>" + followingPostCount + "</b> people commented on a post you are following</a></li>";
    notifications.append(notification);
  }
  if(createdEventCount!=0) {
    var notification="<li><a href='/all-notifications'><span uk-icon='icon: comment'></span>" + "<b>" + createdEventCount + "</b> people commented on a post you are following</a></li>";
    notifications.append(notification);
  }
  if(attendingEventCount!=0) {
    var notification="<li><a href='/all-notifications'><span uk-icon='icon: comment'></span>" + "<b>" + attendingEventCount + "</b> people commented on a post you are following</a></li>";
    notifications.append(notification);
  }
  if(addedOrganizationCount!=0) {
    var notification="<li><a href='/all-notifications'><span uk-icon='icon: comment'></span>You have been added to " + "<b>" + addedOrganizationCount + "</b> organization(s)</a></li>";
    notifications.append(notification);
  }
  notifications.append("<li><a class='green' href='/all-notifications'>See all notifications</a></li>");
});
</script>
<div id="topbar">
    <div class="uk-float-right">
        <div class="uk-inline">
            <a href="#">
                <span class="uk-badge" type="button" id="notifications-number">0</span>
                <span class="uk-icon uk-margin-small-right" uk-icon="icon: bell"></span>
            </a>
            <div uk-drop="mode: click">
                <div class="uk-card uk-card-body uk-card-default">
                    <ul id="notifications">
                    </ul>
                </div>
            </div>
        </div>
        <span class="text-light uk-margin-small-right">|</span>
        <a href="#" class="uk-icon-link app-link" uk-icon="icon: more-vertical" uk-toggle="target: .col-tog, .app-link"></a>
        <a href="#" class="uk-icon-link app-link green" uk-icon="icon: more-vertical" uk-toggle="target: .col-tog, .app-link" hidden></a>
    </div>
</div>
<div class="topbar-nudge"></div>
