<script>
var notifications = $('#notifications')
$.getJSON('/notifications', function(data) {
  if(!localStorage.notifications) {
    localStorage.notifications = 0;
  }
  if(data.length - localStorage.notifications>=0) {
    document.getElementById('notifications-number').innerHTML = data.length - localStorage.notifications;
  } else {
    document.getElementById('notifications-number').innerHTML = 0;
  }
    if(data.length > localStorage.notifications) {
      localStorage.seen = 'false';
      if(!localStorage.time) {
        localStorage.past = new Date('01 January 2010 00:00 UTC').toISOString();
      } else {
        localStorage.past = localStorage.time;
      }
    }
});
function clearNotifications() {
  document.getElementById('notifications-number').innerHTML = 0;
  if(localStorage.seen=='false') {
    localStorage.time = new Date().toISOString();
    localStorage.seen = true;
  }
  $.getJSON('/notifications', function(data) {
    localStorage.notifications = data.length;
  })
}
</script>
<div id="topbar" style="box-sizing: content-box;">

    <div class="uk-float-right">
        <span class="text-light uk-margin-small-right" style="visibility:hidden"></span>
        <a href="#" class="uk-icon-link app-link" uk-icon="icon: more-vertical" uk-toggle="target: .col-tog, .app-link" style="visibility:hidden"></a>
        <a href="#" class="uk-icon-link app-link green" uk-icon="icon: more-vertical" uk-toggle="target: .col-tog, .app-link" style="visibility:hidden" hidden></a>
        <div class="uk-inline">
            <a href="#" onclick="clearNotifications()">
                <span class="uk-badge" type="button" id="notifications-number">0</span>
                <span class="uk-icon uk-margin-small-right" uk-icon="icon: bell"></span>
            </a>
            <div uk-drop="mode: click">
                <div class="uk-card uk-card-body uk-card-default">
                    <ul id="notifications">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="topbar-nudge"></div>
