<div uk-drop="mode: click">
    <div class="uk-card uk-card-body uk-card-default">
        <ul>
          {{#compare this.following false operator="=="}}
          <li>
            <a href="#" onclick="document.getElementById('follow-post-{{@index}}').submit();">
              Follow Post
            </a>
          </li>
          {{else}}
          <li>
            <a href="#" onclick="document.getElementById('unfollow-post-{{@index}}').submit();">
              Unfollow Post
            </a>
          </li>
          {{/compare}}
            <li>
              <a href="#" onclick="document.getElementById('delete-post-{{@index}}').submit();">
                Delete Post
              </a>
            </li>
        </ul>
    </div>
</div>
