{{>sidenav}}
<div class="col-tog single-col">

    <div class="app">

        {{>topbar}}
        {{>events-calendar-overview-header}}
        <br>
        {{>events-overview-board-notifications}}
        {{>calendar}}

    </div>

</div>

<div class="col-tog double-col" hidden>

    <div class="app double">

        {{>topbar-hidden}}
        {{>events-overview-header}}
        <br>
        {{>events-overview-board-notifications}}

    </div>

</div>

<?php include 'sxn/ftr/sxn-ftr.php'; ?>
