{{>sidenav}}
<div class="col-tog single-col">

    <div class="app">
        {{>topbar}}
        {{>feed-header}}
        {{>filter-content}}
        {{>feed}}
    </div>

</div>

<div class="col-tog double-col" hidden>

    <div class="app double">
        {{>topbar-hidden}}
    </div>

</div>
