<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/semantic.min.css">
<link rel="stylesheet" href="/css/login.v5.min.css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/semantic.min.js"></script>
<script>
$(function(){
  $('.ui.dropdown')
    .dropdown({
      allowAdditions: true
    })

    $('#office')
  .dropdown({
    action: 'activate',
    onChange: function(value, text) {
      console.log(text);
      console.log(value);
    /*  each
      if(value==value) {
        $('#tags').dropdown('set selected',['angular','css']);
      }
      each*/
    }
  })
;
});

function addAnother() {
  document.getElementById("addUsers").innerHTML+='<div style="padding: 10px 0px"><div class="uk-margin" style="display:inline; padding: 10px 10px"><input style="padding: 0 15px;" class="uk-input uk-form-width-medium" type="" name="email" placeholder="Email" required></div><div class="uk-margin" style="display: inline"><select style="padding: 0 15px;" class="uk-select" name="university"><option value="">Select the permission level</option><option value="Hogwarts">Student</option><option value="Charles">Administrator</option><option value="Monsters">Community Organization</option><option value="Monsters">Custom</option></select></div></div>';
}
</script>

<section id="login">
    <div class="login-header">
        <img class="uk-float-left" src="/img/loop_logo_white.png" alt="Loop" />
    </div>


    <h1>Invite users to Loop</h1>
    <p>Enter their emails and permission settings:</p>
    <div id="addUsers">
    <div style="padding: 10px 0px">
    <div class="uk-margin" style="display:inline; padding: 10px 10px">
        <input style="padding: 0 15px;" class="uk-input uk-form-width-medium" type="" name="email" placeholder="Email" required>
    </div>

    <div class="uk-margin" style="display: inline">
        <select style="padding: 0 15px;" class="uk-select" name="university">
            <option value="">Select the permission level</option>
            <option value="Hogwarts">Student</option>
            <option value="Charles">Administrator</option>
            <option value="Monsters">Community Organization</option>
            <option value="Monsters">Custom</option>
        </select>
    </div>
  </div>
</div>
<br>
  <a onclick="addAnother()" style="font-size:20px; color: white">+ Add another user</a>
<br></br>
    <div class="inputs">
      <form action="/add-office" method="post" id="register">

            <a type="button" class="uk-button uk-button-default" onclick="document.getElementById('submitbutton').click();">
                Add
            </a>
            <input type="submit" style="display: none" id="submitbutton"></input>
            <a href="/" class="uk-button uk-button-secondary">
                Skip
            </a>
        </form>
    </div>

</div>
