<link rel="stylesheet" href="/css/login.v5.min.css" />
<section id="login">
    <div class="login-header">
        <img class="uk-float-left" src="/img/loop_logo_white.png" alt="Loop" />
        <ul class="uk-list uk-link-text">
            <li><a href="theuniversityloop.com">Help</a></li>
            <li><a href="theuniversityloop.com">FAQ</a></li>
            <li><a href="theuniversityloop.com">About</a></li>
        </ul>
    </div>

    <h1>Welcome to Loop</h1>
    <p>Are you a student or an administrator?</p>
            <a type="button" class="uk-button uk-button-default" href="/student-signup">
                Student
            </a>
            <a type="button" class="uk-button uk-button-default" href="/signup">
                Administrator
            </a>

</div>
