<link rel="stylesheet" href="/css/login.v5.min.css" />
<section id="login">
    <div class="login-header">
        <img class="uk-float-left" src="/img/loop_logo_white.png" alt="Loop" />
        <ul class="uk-list uk-link-text">
            <li><a href="#">Help</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>

    <h1>Welcome to Loop</h1>
    <p>Create your account by completing the fields below:</p>
    {{#if message}}
      <script> alert("{{message}}"); </script>
    {{/if}}
    <div class="inputs">

            <div class="uk-margin">
                <select class="uk-select" name="university">
                    <option value="">Select your university</option>
                    <option value="Hogwarts">Haverford College</option>
                    <option value="Charles">Swarthmore College</option>
                    <option value="Monsters">Bryn Mawr College</option>
                </select>
            </div>
            <form action="/student-signup" method="post" id="register">
            <div class="uk-margin">
                <input class="uk-input uk-form-width-medium" type="" name="firstName" placeholder="First Name" required>
            </div>
            <div class="uk-margin">
                <input class="uk-input uk-form-width-medium" type="" name="lastName" placeholder="Last Name" required>
            </div>
            <div class="uk-margin">
                <input class="uk-input uk-form-width-medium" type="" name="username" placeholder="Email" required>
            </div>
            <div class="uk-margin">
                <input class="uk-input uk-form-width-medium" type="" name="major" placeholder="Major" required>
            </div>
            <div class="uk-margin">
                <input class="uk-input uk-form-width-medium" type="" name="class" placeholder="Class Year" required>
            </div>
            <a type="button" class="uk-button uk-button-default" onclick="document.getElementById('submitbutton').click();">
                Next
            </a>
            <input type="submit" style="display: none" id="submitbutton"></input>
            <a href="/" class="uk-button uk-button-secondary">
                Cancel
            </a>
        </form>
    </div>

</div><br><br><br>
