<link rel="stylesheet" href="/css/login.v5.min.css" />

<section id="login">
    <div class="login-header">
        <img class="uk-float-left" src="/img/loop_logo_white.png" alt="Loop" />
        <ul class="uk-list uk-link-text">
            <li><a href="#">Help</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>

    <h1>Account Verified!</h1>
    <p>Press continue to customize your Community Loop Experience</p>

    <div class="inputs">
            <a type="button" class="uk-button uk-button-default" href={{#if user.admin}}"/add-office"{{else}}"/add-tags"{{/if}}>
                Continue
            </a>
    </div>

</div><br><br><br>
